<nav>
    <div class="nav-wrapper">
      <a href="#" class="brand-logo">wish list</a>
      <ul id="nav-mobile" class="right">
        <li ><a href="/">home</a></li>
        <li><a href="/about">about</a></li>
      </ul>
    </div>
  </nav>