<!DOCTYPE html>
<html lang="en">
<head>
    <title>Document</title>
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
</head>
<body>
        <% include partials/nav %>
    <h1>This is home page</h1>
    <form id="myForm">
         <input type="text" name="item">
         <button type="submit" class="waves-effect waves-light btn">add</button>
    </form>
   
    <ul>
          <%   wish.forEach(item =>{ %> 
          <li onclick="deleteme(this)"><%= item.wish %></li>
          <% }) %>
    </ul>
    <script src="/script.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</body>
</html>